name: Build & Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: stackfetch
            asset_name: stackfetch-linux-x64

          - os: windows-latest
            artifact_name: stackfetch.exe
            asset_name: stackfetch-windows-x64.exe

          - os: macos-latest
            artifact_name: stackfetch
            asset_name: stackfetch-macos-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build Binary
        run: |
          bun build ./src/index.ts --compile --minify --sourcemap=none --outfile ${{ matrix.artifact_name }}

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.artifact_name }}
          name: ${{ matrix.asset_name }}